---
import { Image } from "astro:assets";

const { commentItemData } = Astro.props;

//Gives every other comment a gray background
const showBackground = commentItemData.id % 2 !== 0;
const containerClass = `flex flex-row gap-1 pt-2 pb-3 ${showBackground && "bg-gray-100 rounded-sm pt-2 pb-3"}`;
---

<div class={containerClass}>
  <Image
    class="w-10 object-contain self-start mr-2"
    src={commentItemData.authorAvatarPath}
    alt=""
  />
  <div class="items-center">
    <div class="flex flex-row gap-1.5">
      <h3 class="font-bold">@{commentItemData.author}</h3>
      <p>{commentItemData.ageString} Ago</p>
    </div>
    <div>{commentItemData.text}</div>
  </div>
</div>
